@page "/telegram-auth"
@using Microsoft.Extensions.Options
@using SimpleSignature.Application.Settings
@inject IOptions<TelegramOptions> TelegramOptions

<h3>Telegram Authentication</h3>

<div id="telegramLogin">
    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="@TelegramOptions.Value.BotUserName" data-size="large" data-auth-url="/api/auth/telegram" data-request-access="write"></script>
</div>